@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');


.Editor {
  padding: 1em;
  width: 50vw;
  height: 100vh;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.5em;
  line-height: 1.5;
  background: #272822;
  color: #F8F8F2;
  letter-spacing: 0.3px;
	word-spacing: 1px;
}
